* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #2d3e51;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tic-tac-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 400px;
  height: 400px;
}

.tic-tac-board div {
  border: 5px solid #44596e;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tic-tac-board div i {
  color: white;
  font-size: 64px;
}
